* text=auto

# LFS file patterns, separated by spaces.
# Images
# Extensions> png jpg jpeg gif ico bmp
# Videos
# Extensions> mov mp4 mp3 flv fla swf pdf fbx
# Archives
# Extensions> gz zip 7z ttf rar tar.gz
# Key file
# Extensions> snk
# Build artifacts
# Extensions> dll pdb nupkg blob exe exe.old so dylib
# Database files
# Extensions> mdf sdf sqlite db
# Other types
# Extensions> bin

# Extension Patterns:

*.[pP][nN][gG] filter=lfs diff=lfs merge=lfs -text
*.[jJ][pP][gG] filter=lfs diff=lfs merge=lfs -text
*.[jJ][pP][eE][gG] filter=lfs diff=lfs merge=lfs -text
*.[gG][iI][fF] filter=lfs diff=lfs merge=lfs -text
*.[iI][cC][oO] filter=lfs diff=lfs merge=lfs -text
*.[bB][mM][pP] filter=lfs diff=lfs merge=lfs -text

*.[mM][oO][vV] filter=lfs diff=lfs merge=lfs -text
*.[mM][pP]4 filter=lfs diff=lfs merge=lfs -text
*.[mM][pP]3 filter=lfs diff=lfs merge=lfs -text
*.[fF][lL][vV] filter=lfs diff=lfs merge=lfs -text
*.[fF][lL][aA] filter=lfs diff=lfs merge=lfs -text
*.[sS][wW][fF] filter=lfs diff=lfs merge=lfs -text
*.[pP][dD][fF] filter=lfs diff=lfs merge=lfs -text
*.[fF][bB][xX] filter=lfs diff=lfs merge=lfs -text

*.[gG][zZ] filter=lfs diff=lfs merge=lfs -text
*.[zZ][iI][pP] filter=lfs diff=lfs merge=lfs -text
*.7[zZ] filter=lfs diff=lfs merge=lfs -text
*.[tT][tT][fF] filter=lfs diff=lfs merge=lfs -text
*.[rR][aA][rR] filter=lfs diff=lfs merge=lfs -text
*.[tT][aA][rR].[gG][zZ] filter=lfs diff=lfs merge=lfs -text

*.[sS][nN][kK] filter=lfs diff=lfs merge=lfs -text

*.[dD][lL][lL] filter=lfs diff=lfs merge=lfs -text
*.[pP][dD][bB] filter=lfs diff=lfs merge=lfs -text
*.[nN][uU][pP][kK][gG] filter=lfs diff=lfs merge=lfs -text
*.[bB][lL][oO][bB] filter=lfs diff=lfs merge=lfs -text
*.[eE][xX][eE] filter=lfs diff=lfs merge=lfs -text
*.[eE][xX][eE].[oO][lL][dD] filter=lfs diff=lfs merge=lfs -text
*.[sS][oO] filter=lfs diff=lfs merge=lfs -text
*.[dD][yY][lL][iI][bB] filter=lfs diff=lfs merge=lfs -text

*.[mM][dD][fF] filter=lfs diff=lfs merge=lfs -text
*.[sS][dD][fF] filter=lfs diff=lfs merge=lfs -text
*.[sS][qQ][lL][iI][tT][eE] filter=lfs diff=lfs merge=lfs -text
*.[dD][bB] filter=lfs diff=lfs merge=lfs -text

*.[bB][iI][nN] filter=lfs diff=lfs merge=lfs -text
